My name is Guillaume Kolly and I am a junior developer from the French Alps. 
I graduated in 2013 with a master's degree in information technology 
from the school <a href="http://www.epitech.eu/">EPITECH</a> in France.<br/>
I'm really passionate about all kind of fields related to new technologies, 
and I love to work and experiment a lot in my spare time.
Constantly trying make it better, I re-write this portfolio many times 
with different technologies.<br/>
Bmx being a passion too, I founded the brand 
<a href="http://www.coolstorybmx.com/">Cool Story Bro Bmx </a>
early 2012 in order to innovate in this area, drawing and machining 
my own parts from A to Z. 
This project taught me many things and continue to give me technical as 
well as cultural and business skills.
My sport also enable me to learn filming and video editing, which 
allowed me to shoot for brands such as New Era or Division Brand.
Check out the links of my <%= link_to "work", root_path %> 
to see what I've been up to lately and feel free to get in touch by social network or <%= link_to "contact me here", contact_path %>.