<div class="circle"></div>
<div class="line">
	<div class="arrow right"></div>
</div>
<ul class="list-item">
	<li class="arrow up top-one">
		<span class="pins-top" rel="tooltip" data-placement="top" 
			title="
				<h4 class='tooltip-title'>Lycee Charles Poncet</h4>
				<p class='tooltip-date'>Jul. 2008</p>
				<p class='tooltip-text'><strong>Baccalaureate Graduation</strong><br/>STI Electronic at Cluses (France).</p>
			">
		</span>
	</li>
	<li class="arrow up top-two">
		<span class="pins-top" rel="tooltip" data-placement="top" 
			title="
				<h4 class='tooltip-title'>EPITECH</h4>
				<p class='tooltip-date'>oct. 2008- oct. 2013</p>
				<p class='tooltip-text'><strong>MASTER IN TECHNOLOGY INFORMATION</strong><br/>Three years at Lyon (France), One year as a student abroad in USA, the last year in Paris (France).</p>
			">
		</span>
	</li>
	<li class="arrow up top-three">
		<span class="pins-top" rel="tooltip" data-placement="top" 
			title="
				<h4 class='tooltip-title'>IEUROP</h4>
				<p class='tooltip-date'>jul. 2009 - dec. 2009</p>
				<p class='tooltip-text'><strong>WEB DEVELOPER-SECURITY TESTER</strong><br/>PHP Development with Jelix Framework php 5.0, Safety and load testing on idoo.fr.</p>
			">
		</span>
	</li>
	<li class="arrow up top-four">
		<span class="pins-top" rel="tooltip" data-placement="top" 
			title="
				<h4 class='tooltip-title'>WESHPROD STUDIO</h4>
				<p class='tooltip-date'>sep. 2011 - dec. 2011</p>
				<p class='tooltip-text'><strong>WEB MOBILE DEVELOPER</strong><br/>Mobile Web application based on Javascript Sencha Touch framework. Directory of Mobile Arve valley and its surroundings.</p>
				">
		</span>
	</li>
	<li class="arrow up top-five">
		<span class="pins-top" rel="tooltip" data-placement="top" 
			title="
				<h4 class='tooltip-title'>FREELANCE</h4>
				<p class='tooltip-date'>Apr. 2012 - Present</p>
				<p class='tooltip-text'><strong>CONCEPTION AND MACHINING</strong><br/>Conception and manufacture of parts for BMX As sales of clothing under the brand name Cool Story Bro.</p>
				">
		</span>
	</li>
	<li class="arrow up top-six">
		<span class="pins-top" rel="tooltip" data-placement="top" 
			title="
				<h4 class='tooltip-title'>SOLIEV</h4>
				<p class='tooltip-date'>Apr. 2013 - Present</p>
				<p class='tooltip-text'><strong>RUBY ON RAILS DEVELOPER</strong><br/>Ruby on rails, Javascript Developer for Soliev reporting application.</p>
				">
		</span>
	</li>
	<li class="arrow down bottom-one">
		<span class="pins-bottom" rel="tooltip" data-placement="bottom" 
		title="
			<h4 class='tooltip-title'>EPITECH</h4>
			<p class='tooltip-date'>nov. 2008 - jul. 2011</p>
			<p class='tooltip-text'><strong>ASSISTANT EPITECH REGION</strong><br/>Pedagogy, Communication (Forums and Exhibitions), Maintenance Systems and Networks.</p>
		">
		</span>
	</li>
	<li class="arrow down bottom-two">
		<span class="pins-bottom" rel="tooltip" data-placement="bottom" 
			title="
				<h4 class='tooltip-title'>CSUSM</h4>
				<p class='tooltip-date'>jan. 2012 - aug. 2012</p>
				<p class='tooltip-text'><strong>LANGUAGE TRAINING</strong><br/>Language training at California State University San Marcos (California - USA)</p>
				">
		</span>
	</li>
	<li class="arrow down bottom-three">
		<span class="pins-bottom" rel="tooltip" data-placement="bottom" 
			title="
				<h4 class='tooltip-title'>GROUPE SEB</h4>
				<p class='tooltip-date'>sept. 2012 - feb. 2013</p>
				<p class='tooltip-text'><strong>FUNCTIONAL EXPERT BI</strong><br/>Development projects with business intelligence reporting tool Qlikview and version update on the server.</p>
				">
		</span>
	</li>
</ul>
