<footer class="navbar navbar-static-bottom">
	<div class="my-footer">
		<div class="container">
			<div class="row-fluid">
				<div class="span8">COPYRIGHT © 2013 GUILLAUME KOLLY. ALL RIGHTS RESERVED.</div>
		  		<div class="span4"></div>
			</div>
    	</div>
  	</div>
</footer>